/* je fais un mini reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: 'Kalam', cursive;
}

h2{
    margin: 20px;
    color: rgba(0, 0, 255);
    text-align:center;
}

/* philosophie mobile first */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    color: white;

}

nav input[type=checkbox], .navList{
    display: none;
   
}

nav input[type=checkbox]:checked + .navList {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 227px;
    list-style: none;
    background-color: rgba(0, 0, 255, 0.459);
    width: 100%;
    left: 0px;
    padding-left: 20px;
    
    z-index: 1000; /* permet de passer au dessus de welcomeSection */
}

nav .navList li {
    margin: 3px 0px;


}

#welcomeSection{
    background: url(../images/welcome.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#welcomeSection div{
    position:absolute;
    top: 65%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
}

/* section description */

.text-div p{
    color: black;
    padding: 2px 10px;
    }

#descriptionSection .container{
display: grid;
grid-template-columns: 1fr;
}

#descriptionSection .card{
display: grid;
grid-template-columns: 1fr;
}

#descriptionSection .card .img-div{
min-width: 100px;
min-height: 100px;
}

#descriptionSection img{
width: 100%;
height: 100%;
object-fit: cover;
}

/* section Qui suis je ?  */

#aboutMeSection .container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 10px;
    }

#aboutMeSection .card {
        border: 1px solid black;
        box-shadow: 0px 0px 9px black;
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 10px;
    }

#aboutMeSection    .card .img-div{
        min-width: 100px;
        min-height: 100px;
        border-radius: 10px;
        box-shadow: 0px 0px 9px black;
        border: 1px solid black;
    }

#aboutMeSection img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}

#aboutMeSection .text-div{
    padding: 10px;
}

/* mobile gallery section */
#gallerySection .container{
    column-count: 1;   
}

#gallerySection .box{
    min-height: 100px;
    min-width: 100px;
}
#gallerySection img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* mobile Parallax section */
#parallaxDiv{
    height: 40vh;
    background: url(../images/parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/* mobile Avis section */
#avisSection .container{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 10px;
}

#avisSection p {
    color: black;
}
#avisSection  i{
    color: rgb(197, 168, 0);
}

#avisSection .container img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -45px;
}

#avisSection h3{
    color: black;
}

#avisSection .container .card{
    background: rgb(218, 215, 215);
    margin-top: 50px;
}

/* mobile Contact section */
#contactSection p , h3 , i, div, strong {
    color: black;
}


#contactSection {
    text-align: center;
}

#contactSection .formDiv{
    
    margin-top: 20px;
    padding: 0px 20px;

}
#contactSection .formControl{
    width: 100%;
    color: black;
    border: none;
    border-bottom: 1px solid black;
}
#contactSection .formGroup{
    margin: 5px 0px;
    color: black;
    
}
#contactSection .formGroup textarea{
    color: black;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}
#contactSection .formGroup input{
    color: black;
    background-color;
    
}
#contactSection .container{
    display: grid;
    grid-template-columns: 1fr;
}
#contactSection .infoDiv{
    display: grid;
    grid-template-columns: 1fr;
}
#contactSection .socialDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contactSection .mapDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    margin: 10px 10px;
}

#contactSection .mapDiv iframe{
    width: 100%;
    height: 100%;
}
footer p{
    color: black;
    text-align: center;
}
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*--------------------------------RESPONSIVE-------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/* lorsqu'on va arriver sur une largeur minimum de 768 on v modifier des choses */

/* @media screen and (min-width: 768px){
    body{
        display: none;
    }
}
@media screen and (min-width: 1024px){
    body{
        display: none;
    }
} */





